.socialLink{
    height: 30px;
    background-color: #f6f6f6;
    line-height: 30px;
    ul{
        width: 200px;
        height: 30px;
        position: absolute;
        right:0%;
        // background-color: #aca;
        top:-10px;
        
        // display:inline-block;
        justify-content:flex-end ;
        display: flex;
    }
    li{
        
        list-style: none;
        vertical-align: middle;
        
        margin: 8px;
        a{         
            // height: 30px;
            
            // background-color: #fff;
            position: relative;
            top: 5px;  
            text-decoration: none;
        }
        
    }
    img{
        margin-right: 5px;
        width: 20px;
        // background-color: #fff;
        position: relative;
        top: -2px;
        vertical-align: middle;
    }
    
    .twitterColor{
        color:$twitterColor;
        font-weight:bolder;
        &:hover{
            color:darken($twitterColor,20%);
        }
        
    }
    .facebookColor{
        color: $facebookColor;
        font-weight:bolder;
        &:hover{
            color:darken($facebookColor,20%);
        }
    }
}
h1{
    display: inline-block;
    width: 30%;
}
nav{
    width: 70%;
    float:right;
    
    ul{
        color:$hexschool-primary;
        display: flex;
        list-style: none;
        font-weight: bold;
        // background-color: #acd;
        position: absolute;
        right:0;
        
    }
    li{
        
        margin: 15px 5px;
        padding:10px;
        border-bottom: 3px rgba(0,0,0,0%) solid;
        justify-content: flex-end;
        // background-color: green;
        &:hover{
            border-bottom: 3px $hexschool-primary solid;
            ul{
                display:inline-block;
            }
        }
    }
    a{
        padding:12px;
        &:visited{
            color:$hexschool-primary;
        }
    }
    .dropDownOpen{
        width: calc(33.33333% + 12px);
        padding: 0;
        position: absolute;
        top:59px;
        right:calc(33.33333% + 10px);
        display: none;
        background-color: #fff;
        z-index: 5;
        cursor:pointer;
    }
}
.banner{
        display: flex;
        flex-direction: column;
        width: 100%;
        // align-items: center;
        justify-content: center;
    img{
        // max-width: 100%;
        width: 100%;
        position: relative;
        float: left;
        
    }
    .cover{
        max-width: 100%;
        overflow: hidden;
        width: 100%;
        // height: 20%;
        color: white;
        // padding:5%;
        padding:5% 0;
        padding-left:5%;
        font-weight:lighter;
        position:absolute;
        
        
        
        
        background-color: rgba(0,0,0,.5);
        
        
        .top{
            width: 100%;
            // background-color: red;
            font-weight:normal;
        }
        .bottom{
            width: 100%;
            // background-color: blue;
            font-weight:normal;
        }
    }
}
.container{
    
    .base-introduce{
        display:flex;
        padding:2%;
        .box{
            width: 33.33%;
            text-align: center;
            margin:20px;
            padding:10px;
            border:#eee solid 1px;
            border-top:none;
            box-shadow:0px 1px  3px #ccc ;
        }
        img{
            width: 30%;
        }
        .bigPic{
            width: 70%;
            margin-bottom: 15px;
        }
        .title{
            font-weight: bold;
        }
        .content{
            margin-top: 10px;
            text-align: left;
            ul{
                position: relative;
                left:20px;
            }
        }
    }
    .compareDifference{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        table{
            text-align-last: left;
            width: 100%;
            margin-top: 10px;
            padding:5px 20px;
            border-collapse: collapse;
            font-weight: 600;
            tr{
                width: 25%;
            }
            th{
                padding:5px 20px;
            }
            td{
                height: 30px;
                padding:5px 20px;
                border-top:2px solid #e8e8e8;
                border-bottom: 2px solid #e8e8e8;
            }
            thead{
                background-color: #f7f7f7;
 
            }
        }
        .hexSchoolColor{
            color:$hexschool-primary;
        }
    }
    .contactInformation{
        width: 80%;
        margin: 40px auto;
        padding:10px;
        text-align: center;
        background: linear-gradient(#00644b, #009772);
        color:white;
        .form{
            display: flex;
            margin-top: 20px;
            
        }
        .left{
            width: 50%;
            height: 200px;
            background-color: #fff;
            margin-right: 20px;
            border-radius: 5px;
        }
        .right{
            width: 50%;
            text-align: left;
            // background-color: blue;
            
            input{
                width: 100%;
                padding:3px;
                margin-bottom: 10px;
                outline: none;
                border-radius: 5px;
            }
            input[type="submit"]{
                width: 18%;
                color:white;
                padding:5px;
                background-color: #00cc99;
                transition:.3s;
                float:right;
                &:hover{
                    background-color: lighten(#00cc99,10%);
                    transition:.3s;
                }
            }
        }
    }//contactInformation end
}
footer{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    .logo{
        display: inline-block;
        width: 200px;
    }
    .contactUs{
        // position: absolute;
        // right:0;
        float: right;
        span{
            color:#e65397;
        }
    }
}